<p>holaaa</p>

{{aupac-typeahead action=(action (mut country))
  class='form-control'
  source=countrySource
  placeholder='Busca tu mensaje'}}

<button {{action "publicarMensaje"}}>Crear socio</button>


<ul>
  {{#each model as |mensaje|}}
    <li>Hello, {{mensaje.texto}}!</li>
  {{/each}}
</ul>

{{outlet}}